<!DOCTYPE html>
<html>
<head>
  <title>Samuel's Website</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>
	Samuel's Website
</h1>

<%= link_to 'home', '/home' %>
<%= link_to 'contacts', new_contact_path %>
<%= link_to 'how to tie your shoes', '/shoes' %>
<%= link_to 'how to become a millionaire', '/millionaire' %>

<%= yield %>

</body>
</html>
